@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-blue-500/5
}
.container-app {
    @apply container max-w-[76rem] mx-auto
}
.m-p-0 {
  padding: 0px !important;
}

@layer components {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #FFF;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 100vh;
    border: 2px solid #FFF;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AAA;
  }

  /* width */
  .dark ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  .dark ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #374151;
  }

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 100vh;
    border: 2px solid #374151;
  }

  /* Handle on hover */
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #7a8294;
  }
}


.m-h-screen {
  @apply h-[calc(100vh-7rem)]
}

.drawer-side-right {
  @apply fixed md:sticky top-0 md:top-16 right-0 translate-x-full md:translate-x-0 duration-300
}

.drawer-right-toggle:checked ~ .drawer-side-right {
  @apply  translate-x-0 md:translate-x-0 z-50
}

.drawer-right-toggle:checked ~ .overlay {
  @apply bg-black/50 fixed inset-0 z-40
}

.menu li a {
  font-weight: 600;
  @apply py-3 px-4 rounded-full
}
.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active
{
  background-color: var(--fallback-pc,oklch(var(--pc)/0.5));
  @apply text-base-content
}
.menu li > *:not(ul):not(.menu-title):not(details).active svg{
  @apply text-primary
}

@media (hover: hover) {
  :where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(.active):hover, :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):not(.active):hover {
      background-color: var(--fallback-pc,oklch(var(--pc)/0.5));
  }
  @supports (color: oklch(0 0 0)) {
      :where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(.active):hover, :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):not(.active):hover {
          background-color: var(--fallback-pc,oklch(var(--pc)/0.5));
      }
  }
}


:where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(summary):not(.active).focus,
  :where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(summary):not(.active):focus,
  :where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):is(summary):not(.active):focus-visible,
  :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):not(summary):not(.active).focus,
  :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):not(summary):not(.active):focus,
  :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):is(summary):not(.active):focus-visible {
    color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));
    background-color: var(--fallback-pc,oklch(var(--pc)/0.5));
}